/* Google fonts imports */
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');

/* Animations */
@keyframes a_applyhover_colorchange{
    0% {color: rgb(30, 6, 240);}
    25% {color: rgb(255, 0, 0);}
    50% {color: rgb(30, 6, 240);}
    75% {color: rgb(255, 0, 0);}
    100% {color: rgb(30, 6, 240);}
}


*{
    text-rendering: optimizeLegibility;
}

/* Flexbox structure */
.flex-column-container{ /* Egy oszlopba, egymás alatt jeleníti meg az elemeket. */
    display: flex;
    flex-direction: column;
}

.flex-row-container{ /* Egy sorban, egymás mellett jeleníti meg az elemeket. */
    display: flex;
    flex-direction: row;
}

.flex-column-container ul{
    justify-content: center;
}
.flex-column-container ul li{
    margin-left: auto;
    margin-right: auto;
}

#footer-left{
    float: left;
}

#footer-right{
    float: right;

    position: fixed;
    bottom: 0px;
    right: 0px;

    background-color: #d3d3d3d3;
}


header{
    font-family: 'Amatic SC', cursive;
    font-weight: 900;
    font-size: 200%;;

    letter-spacing: 0.2em;
    text-align: center;
    color: #250905; 
}

nav{
    position: sticky;
    top: 0;

    margin-bottom: 0.5em;

    background: linear-gradient(to top right, rgba(235, 252, 0, 0.753),rgba(255, 145, 1, 0.685));
    border-radius: 3em;

    font-weight: 700;
}
nav ul{
    list-style-type: none;
}

body{
    font-family: 'Noto Serif', serif;
    font-weight: 500;
    font-size: 1.1em;
    font-style: normal;
    color: black;

    background: linear-gradient(to bottom right, #0ef5bbea,#adf507f6);
    background-repeat: no-repeat;
}

aside{
    margin-right: 1.4em;

    padding-top: 0.3em;
    padding-right: 1em;
    padding-left: 1em;


    border-top-style: solid;
    border-right-style: solid;
    border-top-color: #000000;
    border-radius: 2em;

    font-family: 'Quicksand', sans-serif;
}
aside ul{
    list-style-image: url(../media/pictures/icons8-css-26.png);
    list-style-position: inside;
}
aside ul li{
    font-weight: 700;
}

footer{
    font-family: 'Nunito', sans-serif;

    border-top-width: 0.3em;
    border-top-style: groove;
    border-top-color: #000000;

    margin-top: 1.5em;
}


a{
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}
a:visited,a:link{
    color: rgb(30, 6, 240);
}
a:hover{
    animation-name: a_applyhover_colorchange;
    animation-duration: 5.2s;
    animation-iteration-count: infinite;
}

img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

