html {
    height: auto;
    min-height:100%
  }

form{
    position:static;
}
form button{
    max-width: 5.5em;
    background-color: rgba(255, 145, 1, 0.685);
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    border-radius: 2em;
    margin-right:0.5em;
    margin-left:0.5em;
}

form label{
    font-size: 1.2em;
}

form input{
    min-width: 17em;
    padding: 0.5em;
    border-radius: 1em;
}
select{
    width:15em;
    padding:0.1em;
    border-radius: 2em;
}
hr{
    border:0.1em solid black;
}
#div_button{
    justify-content: center;
}
@media screen and (min-width: 992px){
aside{
    max-width:8.5em;
}
}